<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: {action: "create"} do |f| %>

      <div class="form-group">
      <%= f.label :id %>
      <%= f.text_field :id, id: :id, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
