<h1>Profil de <%= @user.firstname.capitalize %> <%= @user.lastname.capitalize %></h1>

<div class="container border border-primary">
    <p>Email : <%= @user.email %></p>
</div>

<% if current_user == @user %>
 <%= link_to "Modifier le profil", edit_user_path(@user), class: "btn btn-primary" %>
<% end %>
